body {
  font-family: "Open Sans", sans-serif;
  background: #90d0eb;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-wrapper {
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
}

.table {
  border-radius: 5px;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.table-cell {
  text-align: center;
  border-right: 1px solid #f8f8f8;
  padding: 0.75rem;
}

.table-row {
  border-right: 1px solid #f8f8f8;
  font-size: 14px;
}

.table-header {
  color: #ffffff;
  background: #37aee2;
}

.table-header:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.table-row:nth-child(even) {
  background: #eeeeee;
}

.table-row:hover {
  background: #eeeeee;
}

.query-selector-container {
  width: 25%;
  text-align: left;
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 4px solid #f36d33;
  color: #666;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  overflow: auto;
  padding: 1em 3em;
  display: block;
}

.query-box-content {
  display: flex;
  flex: 1;
  align-items: center;
}

.table-container {
  margin-top: 2rem;
}

.btn {
  background-image: linear-gradient(-180deg, #37aee2 0%, #1e96c8 100%);
  border-radius: 0.5rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 0.4rem 1.5rem;
  text-decoration: none;
  width: max-content;
  border: 0;
  cursor: pointer;
}

.btn:hover {
  background-image: linear-gradient(-180deg, #1d95c9 0%, #17759c 100%);
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.query-box-item {
  margin-right: 1rem;
}

.go-btn {
  margin-left: 3rem;
}

.resource-selector {
  padding: 0.25rem;
  padding-right: 4rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ddd;
}

.resource-selector ::-ms-expand {
  padding-right: 1rem;
}

.table-footer {
  display: flex;
  justify-content: space-between;
  margin: 0.75rem 0.5rem;
}

.pagination-btn {
  border-radius: 50%;
  padding: 0.6rem 0.75rem;
  border: none;
  background-color: rgb(101, 206, 255);
  color: black;
  margin-right: 0.5rem;
}

.pagination-btn:hover {
  background-color: rgb(66, 172, 221);
  cursor: pointer;
}

.pagination-btn:disabled {
  background-color: rgb(200, 238, 255);
  cursor: default;
}
